@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');


/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.exo-2-<uniquifier> {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* Cores Simples e Diretas */
.positivo { color: #16A085; } /* Verde para 1, 2 ou 3 */
.negativo { color: #FF0000; } /* Vermelho para -1, -2 ou -3 */
.neutro   { color: #FFC107; } /* Branco para 0 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff; /* IMPORTANTE: Defina uma cor de fundo, senão o conteúdo de baixo aparece misturado */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1)
}

.painel-controle {
    max-width: 100% !important; 
    border-bottom: 2px solid;
    margin-bottom: 20px;
    padding: 6px 12px;
    gap: 10px;
}

.painel-controle h1 {
    font-family: "Exo 2", sans-serif;
 
    font-size: 27px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 36px;
    margin-bottom: 12px;
    background-color: #2F3640;
    text-align: center;
}

.destaque{
    font-family: "UnifrakturMaguntia", cursive;
    text-transform: none !important;
}

.painel-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-bottom: 15px;
}

.painel-data h2 {
    font-family: "Exo 2", sans-serif;
    width: auto;
    font-size: 21px;
    color: #1a1a1a;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 36px;
    margin-bottom: 6px;
}

.data {
    white-space: nowrap;   /* impede quebra */
    margin-left: auto;
    font-size: 0.9rem;
    color: #888;
}

.painel-controle h3 {
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    color: #1a1a1a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 60px;
    margin-bottom: 12px;
}

.painel-lateral {
    display: flex;
    justify-content:space-around;
    /* gap: 6px; */
    width: 80%;
    font-family: 'Exo 2', sans-serif;
    color: #333;
    margin-left: 36px;
    margin-bottom: 12px;
}

.campo-busca {
    display: flex;
    flex-direction: column;
    gap: 6px
}

.linha-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chave {
    flex: 1;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    padding: 6px 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    outline: none;
    display: block;
    margin-top: 8px;
}

#busca-nome:focus {
    border-color: #999;
}

.limpar-chave {
    white-space: nowrap;
    width: fit-content;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-self: flex-end;
}

    #btn-limpar:hover {
        background-color: #e0e0e0;
    }

.opcoes-coluna {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 5px;
}

.opcoes-coluna label {
    cursor: pointer;
    font-size: 21px;    
    color: #16A085;
}

.check-rating {
    margin-right: 6px;
    transform: scale(1.5);
    accent-color: #555;
}

.lista-counters {
    padding-left: 30px !important;
    padding-right: 30px !important;
    display: block !important;
    border-top: 1px solid #444;
}

button {
    font-family: inherit;
    font-size: inherit;
}

#lista-counter {
    margin-left: 20px; 
    margin-right: 20px;
}

.card-time {
    border: 1px solid #444;
    margin-bottom: 8px;
    overflow: hidden;
}

.botao-titulo {
    font-family: "Exo 2", sans-serif;
    width: 100%;
    padding: 15px;
    background: #333;
    color: #EEE;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

button.botao-titulo {
    font-family: "Exo 2", sans-serif !important;
    font-size: 21px !important;
}

#lista-counters {
    margin-left: 30px; 
    margin-right: 30px;
}

.lista-oculta {
    display: none;
    padding: 10px;
}

.lista-oculta.visivel {
    display: block !important;
}

.linha-counter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0;
}

.linha-counter span:first-child {
    min-width: 600px;
    max-width: 600px;
    display: inline-block;
}

.Y {
    color: #3e0fd7;
    cursor: pointer;
}


/* --- DEBUG: APAGAR DEPOIS --- */
/* * {
    outline: 1px solid rgba(255, 0, 0, 0.2);
}

.bloco {
    border: 2px solid blue !important;
}

.linha-counter {
    border: 2px solid green !important;
}

.linha-counter span:first-child {
    background-color: rgba(255, 255, 0, 0.2);
} */
/* ----------------------------

/* MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
}

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

/* FIM Modal */

@media screen and (min-width: 1000px) {
    html, body {
        overflow-x: hidden;
    }
    body {
        padding: 0 20px;
    }
}


@media (max-width: 768px) {

    .linha-counter {
        justify-content: space-between;
    }

    .linha-counter span:first-child {
        min-width: auto;
        max-width: 180px;
    }

    .painel-controle h1,
    .painel-data h2,
    .painel-controle h3,
    .painel-lateral {
        margin-left: 0;
        width: 100%;
    }

.painel-lateral {
  display: flex;
  justify-content: space-between; /* distribui bem os blocos */
  gap: 20px;                      /* garante espaço fixo entre eles */
  width: 100%;
  margin-left: 0;
}

    .linha-input {
    flex-direction: column;
    }

    .linha-input input,
    .linha-input button {
    width: 100%;
    margin-bottom: 8px;
  }

    .limpar-chave {
        width: 60px;
        padding: 3px 6px;
        font-size: 0.9rem;
    }
}